<h1>Login</h1>

<form action="/login" method="post">


    <div class="email">
        <label for="email">E-Mail</label>
        <input type="email" name="email" id="email" required>
    </div>


    <div class="pass">
        <label for="pass">Password</label>
        <input type="text" name="pass" id="pass" required>
    </div>

    <button type="submit">Login</button>
</form>
<a href="/register">Register Now</a>